<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eldelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElDelivery">
        <activity
            android:name=".pojo.Home_Delivery_Activity"
            android:exported="false" />
        <activity
            android:name=".pojo.RegiateAnewDelivery"
            android:exported="false" />
        <activity
            android:name=".pojo.Code_verification_signup"
            android:exported="false" />
        <activity
            android:name=".pojo.Mobilenumber_verification_signup"
            android:exported="false" />
        <activity
            android:name=".pojo.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".pojo.Code_verfifcation_Activity"
            android:exported="false" />
        <activity
            android:name=".pojo.MobileNumber_verification"
            android:exported="false" />
        <activity
            android:name=".pojo.DeliveryloginActivity"
            android:exported="false" />
        <activity
            android:name=".pojo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>